.sidebar {
    height: 100%;
    width: 300px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgb(244, 248, 226);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    text-align: center;
}

.body-text {
    margin-left: 150px;
    font-size: 18px;
}
